h1{

  text-align: center;
  color: chocolate;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: blue;
}
p{
  font-family: "Courier New";
  font-size: 120%;
  padding: 20px 30px 40px 50px;
  border: dotted;
  box-shadow: 1px 1px 2px 3px blue;

}

.image{
  width: 150px;
  padding: 50px;
  background: url("../assets/bat.png");
}

body{
  margin:0;
  padding:0;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 15px;
}

header{
  hight:100px;
  position: fixed;
  background: aqua;
  width: 98.7%;
  padding: 5px;
  border-radius: 5px;
  margin-top: -10px;
  text-transform: uppercase;
}
button {
  text-transform: uppercase;
}

.logo{
  float: left;
  padding: 25px;

}
.menu{
  float: right;
  margin-right: 2%;
}
