h1{

  text-align: center;
  color: chocolate;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: blue;
}
p{
  font-family: "Courier New";
  font-size: 120%;
  padding: 20px 30px 40px 50px;
  border: dotted;
  box-shadow: 1px 1px 2px 3px blue;


}
